@model Holiday.Models.Vacantion

@{
    ViewData["Title"] = "Edit";
}

<style>
    body {
        background-color: darkgrey;
        margin: 0;
    }
</style>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="VacantionId" />
            <div class="form-group">
                <label asp-for="VacantionType" class="control-label"></label>
                <input asp-for="VacantionType" class="form-control" />
                <span asp-validation-for="VacantionType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VacantionDays" class="control-label"></label>
                <input asp-for="VacantionDays" class="form-control" />
                <span asp-validation-for="VacantionDays" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConsumedDays" class="control-label"></label>
                <input asp-for="ConsumedDays" class="form-control" />
                <span asp-validation-for="ConsumedDays" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DaysLeft" class="control-label"></label>
                <input asp-for="DaysLeft" class="form-control" />
                <span asp-validation-for="DaysLeft" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
